user-config.json
invoicing/.vscode
﻿# Project property files
build.gradle
*.iml
.vscode/
.history/
.sencha/
.settings/
.idea/
.gradle/
*.bat
*.log.*

# System files
.DS_Store
Thumbs.db

#node_modules
node_modules
